# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
.mca
# gradle
build
.gradle

# other
eclipse

/run/*

!/run/config/
/run/config/*

!/run/config/dynamicstructures/
!run/config/dynamicstructures/structure_set/**
!run/config/dynamicstructures/structures/**

/run/config/dynamicstructures/structure_set/*
/run/config/dynamicstructures/structures/*

!/run/config/dynamicstructures/structure_set/example_dungeon.json
!/run/config/dynamicstructures/structures/example_dungeon.json

